.contraste-img {
    filter: grayscale(1);
}

.contraste-btn{
    background-color: #555;
    border-color: #555;
    color: white;
    border: #555 !important;
}

.btn-contraste{
    position: absolute;
    margin: 0;
    right: -20rem !important;
    z-index: 999;
    top: 9.5rem;
    span{
        z-index: 999;
            button{
            z-index: 999;
            border: none !important;
            max-width: 3.25rem;
            width: 3.25rem;
            object-fit: cover;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.btn-decrease-increase{
    z-index: 999;
    right: 2rem;
    top: 12.5rem;
    span{
        position: absolute;
        right: 0;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        justify-content: center;
        button{
            font-weight: 900;
            border: none;
        }
        .btn-increase{
            font-size: 1.5rem;
        }
        .btn-decrease{
            font-size: 1rem;
        }
    }
}